#main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

h1 {

    padding: 5% 0;
}

.footer-element
{
 background-color: black;
 position: absolute;
 bottom: 0;
 margin-bottom:0;
 width: 100%;
 height: 71px;
 color: white;    
}

#users {
 display:flex;
}
